[Unit]
Description=start the jack service

# executes the soundbot script which will read
# jack settings from .config/soundbot/config.yml
# then start the jack dbus service as
# well as a2jmidid

BindsTo=multi-user.target
Before=multi-user.target

[Service]
ExecStart=/usr/local/bin/soundbot start
#ExecRestart=/usr/local/bin/soundbot restart
#ExecStop=/usr/local/bin/soundbot stop
Type=oneshot

[Install]
WantedBy=multi-user.target
